.GraficoTiempoTitulo {
    position: static;
    top: -30%;
    right: 45%;
    width: max-content;
    color: black;
}

.GraficoRangoHoras {
    position: static;
    top: 20%;
    right: 58%;
    width: 30%;
    height: 30%;
}

.GraficoReparacionTitulo {
    position: static;
    top: -30%;
    left: 45%;
    width: max-content;
}

.GraficoRangoReparacion {
    position: static;
    top: 20%;
    right: -3%;
    width: 30%;
    height: 30%;
}