.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botonesHistorial{
    display: flex;
    align-items: center;
}

.acciones{
    margin-right: 15px;
    margin-bottom: 0;
}

.tabla th{
    text-align: center;
    vertical-align: middle;
}
.tabla td{
    text-align: center;
}