.titulo{
    padding-top: 5px;
    display: flex;
}
.titulo p{
    font-size: 1.25rem;
    margin-right: 30px;
}

.container {
    margin-top: 10px;
}

.columna th:nth-child(3),
.columna th:nth-child(4),
.columna th:nth-child(6){
    width: 20%;
}
.columna th{
    text-align: center;
}

.columna td{
    text-align: center;
}